.ColorPicker {
  height: 154px;
  width: 154px;
  padding-top: 54px;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid 0.1rem rgb(80, 80, 80);
  border-radius: 0.5rem;
  background-color: rgb(104, 104, 104);
}

.color-clicked {
  background-color: white;
}
