* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(231, 231, 231);
}

html body {
  overflow-x: hidden;
  background-color: rgb(54, 54, 54);
}

h1,
p,
td {
  cursor: default;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1200px;
  min-width: 1000px;
  min-height: 100vh;
  justify-self: center;
  word-break: break-all;
  background-color: rgb(61, 61, 61);
  box-shadow: 6px 19px 23px 1px rgb(0 0 0 / 15%);
  padding-bottom: 4rem;
}

#title {
  align-self: center;
  margin-top: 2rem;
}

#nama {
  align-self: center;
  margin-top: 1rem;
}

#loading {
  align-self: center;
  max-height: 300px;
  margin-bottom: 2rem;
  padding: 2rem;
}
