* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(231, 231, 231);
}

html body {
  overflow-x: hidden;
  background-color: rgb(54, 54, 54);
}

h1,
p,
td {
  cursor: default;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1200px;
  min-width: 800px;
  min-height: 100vh;
  justify-self: center;
  word-break: break-all;
  background-color: rgb(61, 61, 61);
  border-left: solid 0.2rem rgb(80, 80, 80);
  border-right: solid 0.2rem rgb(80, 80, 80);
}
